.fill-primary {
  fill: #000
}

.fill-mode {
  fill: #7b7b7b;
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inn_footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.inn_footer h1{
    margin: 20px 0;
}

.inn_footer p{
    width: 100%;
    text-align: center;
    line-height: 25px;
}

.inn_footer .abt3_container_btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_bar{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    padding: 30px 10px;
    color: #fff;
    justify-content: space-between;
}


.bottom_links{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
}

.bottom_links>.desk_header_logo{
    width: 100%;
}

.bottom_links>p,
.bottom_links>h3{
    width: 100%;
    margin: 10px 0;
    font-weight: 300;
}

.bottom_links>p{
    line-height: 25px;
}


.bottom_links_share{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: space-between;
    padding: 10px 0;
}

.bottom_links_share_icons{
    color: #fff;
    font-size: 18px;    
}

.bottom_bar_links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    border-top: 1px solid #4a4f53;
}

.bottom_bar_privacy_links{
    width: 100%;
    display: flex;
    align-items: center;
}

.bottom_bar_privacy_link{
    padding: 0 20px;
    color: #4a4f53;
    text-decoration: none;
    border-right: 1px solid #4a4f53;
}

.bottom_bar_privacy_link>p{
    width: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.bottom_bar_privacy_link>p::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0;
    background: #4a4f53;
    transition: width 0.4s ease;
}

.bottom_bar_privacy_link>p:hover::after{
    width: 90%;
}

.bottom_bar_{
    width: 100%;
    padding: 20px 10px;
}

.MOBILE_btm_link_hd{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4a4f53;
    padding: 10px 0 ;
    cursor: pointer;
}

.MOBILE_btm_links{
    width: 90%;
}

.MOBILE_btm_links > li{
    margin: 10px 0;
    font-weight: 300;
    width: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.MOBILE_btm_links>li::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width 0.4s ease;
}

.MOBILE_btm_links>li:hover::after{
    width: 90%;
}

.about_sub{
    color: #fff;
    background-color: #000;
}

.btm_text h4{
    margin: 10px 0;
    word-spacing: 3px;
}


@media (max-width: 900px) {
    .bottom_bar{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .bottom_links{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        margin: 10px 0;
    }

    .bottom_links>h3{
        display: none;
    }

    /* .bottom_links>p{
        display: none;
    } */

    .MOBILE_btm_link_hd{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #4a4f53;
        padding: 10px 0 ;
        cursor: pointer;
    }

    .MOBILE_btm_links{
        transition: 2s;
    }

    .MOBILE_btm_links>p{
        margin: 10px;
        cursor: pointer;
    }
}


@media (max-width: 600px) {
    .subscrie_container_img{
        display: none;
    }
    
    .subscrie_container_writes{
        height: auto;
        padding: 0 20px;
    }

    .subscrie_container_input_field{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .subscrie_container_input_field>input{
        width: 100%;
        margin: 5px 0;
    }

    .subscrie_container_input_field_btn{
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .bottom_bar_privacy_links{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .bottom_bar_privacy_link{
        border: none;
        margin: 10px 0;
    }

    .bottom_links_share{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
